<!DOCTYPE html>
<html lang="ja">
<head>

<!--　スケルトンデザインの部分です -->
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>予定一覧</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/hamada.css">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
<!-- ここまでスケルトンデザイン -->

  </head>
<body>
   <header>
     <!--<h3><a href="index.html">New Pet System</a></h3>-->
     <a href="index.html"><img src="images/animal2.gif" alt="New Pet System" class="example1"></a>

     <div id="ham-menu">
        <ul>
            <p></p>
            <a href="/"><li>予定一覧</li></a>
            <a href="/client_index"><li>顧客一覧</li></a>
            <a href="/new_client"><li>新規登録</li></a>
            <hr>
            <p></p>
            <li>設定</li>
            <li>アカウント</li>
            <a href="/contact"><li>質問&要望</li></a>
            <li>ログアウト</li>
        </ul>
    </div>
    <div id="menu-background"></div>

   </header>

   <!--ここからくるくる回るやつスタート-->
   <div id="loader">
      <div class="spinner"></div>
   </div>

   <div id="wrap">
        <div><!--ここからくるくる回る範囲を囲む-->
          <!--　スケルトンデザインの部分です -->
          <!-- Primary Page Layout
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          <div class="container">
            <div class="row">
              <div class="one-half column" style="margin-top: 1%">
                <h4>予定一覧</h4>
                <!--<p>This index.html page is a placeholder with the CSS, font and favicon. It's just waiting for you to add some content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</p>
              </div> -->
            </div>
          </div>
        
        <!-- End Document
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
          
          <table class="u-full-width">
            <thead>
              <tr>
                <th>飼主名</th>
                <th>フリガナ</th>
                <th>ペット名</th>
                <th>種別</th>
                <th>予約時間</th>
                <th>来院目的</th>
                <th>経緯</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>濱田昂</td>
                <td>ハマダ タカシ</td>
                <td>シロ</td>
                <td>柴犬</td>
                <td>12:00～13:00</td>
                <td>手術</td>
                <td>ネット予約</td>
              </tr>
              <tr>
                <td>中野聡子</td>
                <td>ナカノ サトコ</td>
                <td>スイカ</td>
                <td>ブルドック</td>
                <td>13:30～14:00</td>
                <td>検査</td>
                <td>LINE</td>
              </tr>
              <tr>
                  <td>佐伯信哉</td>
                  <td>サエキ シンヤ</td>
                  <td>クロ</td>
                  <td>秋田犬</td>
                  <td>14:20～14:50</td>
                  <td>定期健診</td>
                  <td>TEL</td>
                </tr>
                <tr>
                    <td>高橋和希</td>
                    <td>タカハシ カズキ</td>
                    <td>チョコ</td>
                    <td>ペルシャ</td>
                    <td>15:00～15:15</td>
                    <td>薬購入</td>
                    <td>LINE</td>
                  </tr>
            </tbody>
          </table>
        </div>
   </div>
<!--ここでくるくる回るやつ終わり。↑のdiv２つ-->

  <!--<a class="button" href="#">トップへ戻る</a>-->
    
    <!-- Easily substitute any <ul> or an <ol> to get number lists or sublists. Skeleton doesn't support lists nested deeper than 2 levels -->
        <!--<div class="button_wrapper">
            <a class="button" href="#">トップへ戻る</a>
          </div>-->
          <script src="js/jquery-3.3.1.min.js" type="text/javascript"></script>
          <script src="js/hamada.js" type="text/javascript"></script>
          
</body>
</html>
