<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- <script language="javascript" src="js/umbrella.min.js"></script> -->
  <!--<script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script> -->
  <script language="javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
  
/*jQueryの書式 WordPress風
  jQuery(document).ready(function(){
 //jQueryで実行する内容
 });*/
 $("#sample").css("color","#d9534f");
  
  </script>

<link rel="stylesheet" href="css/hamada.css">
<a href="index.html"><img src="images/animal.gif" alt="New Pet System" class="example1"></a>

</head>

<body>
<h1>新しい連絡先</h1>

<form action="/test" method="post">
<input type="text" name="name">
<input type="submit">
</form>


<div>
<a href="/">戻る</a>
</div>  

</body>
</html>
