<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- <script language="javascript" src="js/umbrella.min.js"></script> -->
  <!--<script src="https://cdn.jsdelivr.net/npm/umbrellajs"></script> -->
  <script language="javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
  
/*jQueryの書式 WordPress風
  jQuery(document).ready(function(){
 //jQueryで実行する内容
 });*/
 $("#sample").css("color","#d9534f");
  
  </script>

<link rel="stylesheet" href="css/hamada.css">
<a href="index.html"><img src="images/animal.gif" alt="New Pet System" class="example1"></a>

</head>

<body>
<h1>顧客情報登録</h1>

<form action="/test_save" method="post">

  <div>
  名前：<input type="text" name="owner_name">
  </div>

  <div>
  フリガナ：<input type="text" name="phonetic_name">
  </div>

  <div>
  ペット名：<input type="text" name="pet_name">
  </div>

  <div>
  種別：<input type="text" name="pet_type">
  </div>

  <div>
  <input type="submit">
  </div>
</form>

<!-------------------------------------------->
 <p>
    <a href="about">このサービスについて</a>
  </p>
  <h1>お問い合わせ</h1>
  <form action="confirm" method="POST">
    <div>
      email:<input type="text" name="email" value="">
    </div>
    <div>
      本文:
      <textarea name="message" rows="5"></textarea>
    </div>
    <div>
      <input type="submit" value="送信する">
    </div>

<div>
<a href="/test">戻る</a>
</div>  

</body>
</html>
