@charset "UTF-8";


/*---------------------------- 共通部分 ----------------------------*/

html, body, header, nav, article, section, aside, footer,
div, span, p, h1, h2, h3, h4,
ul, ol, li, dl, dt, dd,
table, tr, th, td, tbody, thead, tfoot {
  margin: 0;
  padding: 0;
}

header, nav, article, section, aside, footer {
  display: block;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

a:link {
  color: #004080;
}

a:visited {
  color: #004080;
}

a:hover {
  color: #005ebb;
}

p {
  margin: 15px 0 15px 0;
  line-height: 1.7;
  letter-spacing: 0.05em;
}


/*---------- 見出しタイトル装飾（共通部分） ----------*/

#contents h3.white {
  margin: 20px 4px 20px 4px;
  padding: 10px 0 6px 0;
  line-height: 1.6;
  color: #792b04;
  border-top: none;
  border-right: none;
  border-bottom: solid 2px #aaaaaa;
  border-left: none;
  background-color: #ffffff;
  background-image: none;
}

#contents h4.memo {
  margin: 12px 0 10px 0;
  padding: 15px 10px 11px 16px;
  line-height: 1.4;
  color: #df5f08;
  border-bottom: solid 1px #df5f08;
  border-left: solid 5px #df5f08;
  background-color: #fbe8d3;
}

#contents h4.memo_w {
  margin: 12px 0 10px 0;
  padding: 16px 10px 10px 16px;
  line-height: 1.4;
  color: #54351f;
  background-color: #fff8ee;
}

#contents h4.border {
  height: 34px;
  margin: 10px 0 15px 0;
  padding: 10px 10px 0 4px;
  line-height: 1.4;
  color: #e85922;
  border-top: none;
  border-right: none;
  border-bottom: solid 3px #966934;
  border-left: none;
  background-color: #ffffff;
}


/*---------- コンテンツ枠装飾 ----------*/

.gray_bg {
  margin: 18px 0 18px 0;
  padding: 2px 18px 2px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  background-color: #eeeeee;
}

.gray_bg p {
  padding: 3px;
  line-height: 1.7;
  letter-spacing: 0.05em;
}

.brown_bg {
  margin: 18px 2px 18px 2px;
  padding: 2px 8px 2px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  background-color: #f8f4e6;
}

.info_bg {
  margin: 18px 2px 18px 2px;
  padding: 2px 8px 2px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff8e3;
}

.point_bg {
  margin: 10px 2px 10px 2px;
  padding: 2px 5px 2px 15px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border: solid 1px #dfcf98;
  background-color: #fcfbf9;
}

.pale_bg {
  margin: 18px 2px 18px 2px;
  padding: 8px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fffedf;
}

.message_bg {
  margin: 18px 2px 18px 2px;
  padding: 2px 8px 2px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff8e3;
  background-image: url(../img/message.png);
  background-repeat: no-repeat;
}

.memo_bg {
  margin: 8px 0 18px 0;
  padding: 6px 18px 6px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #faf2e2;
}

.memo_w_bg {
  margin: 8px 0 12px 0;
  padding: 6px 18px 6px 18px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #fff8ee;
}

.koe_bg {
  margin: 0;
  padding: 0;
}

.koe_beta_bg {
  margin: 8px 0 8px 0;
  padding: 2px 10px 2px 10px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  background-color: #7e6a41;
}

.check_bg {
  margin: 8px 0 18px 0;
  padding: 2px 18px 2px 18px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  color: #6c4e1f;
  border: solid 6px #ded0b2;
  background-color: #faf1e3;
}

.check_bg p {
  margin: 18px 0 18px 0;
  padding: 0 2px 0 2px;
  line-height: 1.7;
  color: #6c4e1f;
}

.banner_bg {
  margin: 3px 0 10px 0;
  padding: 10px 10px 10px 14px;
  border-top: solid 3px #dec58e;
  border-right: solid 3px #dec58e;
  border-bottom: solid 3px #dec58e;
  border-left: solid 3px #dec58e;
  background-color: #fff8e3;
}

.waku_bg {
  margin: 14px 2px 14px 2px;
  padding: 2px 8px 2px 10px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border-top: solid 10px #f1eae0;
  border-right: solid 6px #f1eae0;
  border-bottom: solid 10px #f1eae0;
  border-left: solid 6px #f1eae0;
}

.waku_tone_bg {
  margin: 14px 2px 14px 2px;
  padding: 2px 8px 2px 10px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border-top: solid 10px #f1eae0;
  border-right: solid 6px #f1eae0;
  border-bottom: solid 10px #f1eae0;
  border-left: solid 6px #f1eae0;
  background-color: #fffcf7;
}

.waku_gold_bg {
  margin: 14px 2px 14px 2px;
  padding: 2px 6px 2px 8px;
  line-height: 1.8;
  letter-spacing: 0.05em;
  border-top: solid 5px #f0ddb2;
  border-right: solid 5px #f0ddb2;
  border-bottom: solid 5px #f0ddb2;
  border-left: solid 5px #f0ddb2;
  background-color: #fff8e3;
}

.gray_bg_contact {
  margin: 18px 2px 10px 2px;
  padding: 10px 8px 10px 18px;
  line-height: 1.7;
  letter-spacing: 0.05em;
  border-top: solid 1px #dddddd;
  border-right: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  border-left: solid 1px #dddddd;
  background-color: #eeeeee;
}

.gray_bg_contact p {
  margin: 0;
  padding: 3px 0 3px 0;
  line-height: 1.7;
}


/*---------- 文字装飾 ----------*/

span.big {
  font-size: 1.12em;
  line-height: 1.9;
}

span.b_big {
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.b_big_x {
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.7;
}

span.check {
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
  color: #555555;
}

span.red {
  color: #e60033;
}

span.red_x {
  color: #e60033;
  font-size: 1.12em;
  line-height: 1.7;
}

span.red_b {
  color: #e60033;
  font-weight: bold;
  line-height: 1.7;
}

span.red_big {
  color: #e60033;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.red_big_x {
  color: #e60033;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.7;
}

span.brown {
  color: #993300;
}

span.brown_b {
  color: #993300;
  font-weight: bold;
}

span.brown_x {
  color: #993300;
  font-size: 1.12em;
  line-height: 1.7;
}

span.brown_b {
  color: #993300;
  font-weight: bold;
  line-height: 1.7;
}

span.brown_big {
  color: #993300;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.brown_big_x {
  color: #993300;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.7;
}

span.blue {
  color: #007bbb;
}

span.blue_b {
  color: #007bbb;
  font-weight: bold;
  line-height: 1.7;
}

span.blue_big {
  color: #007bbb;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.pink {
  color: #c53d43;
}

span.pink_b {
  color: #c53d43;
  font-weight: bold;
  line-height: 1.7;
}

span.pink_big {
  color: #c53d43;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.orange {
  color: #e85922;
  line-height: 1.7;
}

span.orange_b {
  color: #e85922;
  font-weight: bold;
  line-height: 1.7;
}

span.orange_big {
  color: #e85922;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.orange_big_x {
  color: #e85922;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 1.7;
}

span.green {
  color: #00ae4f;
}

span.green {
  color: #00ae4f;
}

span.green_b {
  color: #688119;
  font-weight: bold;
  line-height: 1.7;
}

span.green_big {
  color: #688119;
  font-weight: bold;
  font-size: 1.12em;
  line-height: 1.7;
}

span.mark {
  padding: 2px 2px 0 2px;
  color: #54351f;
  line-height: 1.7;
  background-color: #fdfaab;
}

span.mark_b {
  padding: 2px 2px 0 2px;
  color: #54351f;
  line-height: 1.7;
  font-weight: bold;
  background-color: #fdfaab;
}

span.mark_big {
  padding: 2px 2px 0 2px;
  color: #54351f;
  font-size: 1.12em;
  line-height: 1.7;
  font-weight: bold;
  background-color: #fdfaab;
}

 span.mark_red {
  padding: 2px 2px 0 2px;
  color: #e60033;
  line-height: 1.7;
  background-color: #fdfaab;
}

span.mark_red_b {
  padding: 2px 2px 0 2px;
  color: #e60033;
  font-weight: bold;
  line-height: 1.7;
  background-color: #fdfaab;
}

span.mark_brown {
  padding: 2px 2px 0 2px;
  color: #993300;
  line-height: 1.7;
  background-color: #fdfaab;
}

span.mark_brown_b {
  padding: 2px 2px 0 2px;
  color: #993300;
  font-weight: bold;
  line-height: 1.7;
  background-color: #fdfaab;
}


/*---------- メインコンテンツ 共通 ----------*/

img.line {
  margin: 0 8px 4px 0;
  vertical-align: middle;
}

img.head_photo {
  margin: 0 0 16px 0;
}

hr.line {
  margin: 0 0 10px 0;
  padding: 2px 0 6px 0;
  border: 0;
  border-bottom: dotted 1px #666666;
}

p.back {
  margin: 0;
  padding: 0 5px 0 0;
  text-align: right;
}


/*---------- 画像の回り込み（共通部分） ----------*/

img.picture_le {
  margin: 0 10px 10px 0;
  float: left;
}

img.picture_ri {
  margin: 0 5px 10px 10px;
  float: right;
}

br.clear {
  display: block;
  clear: both;
}


/*---------- サイドエリア 共通 ----------*/

#menu hr.line {
  margin: 0;
  padding: 2px 0 6px 0;
  border: 0;
  border-bottom: dotted 1px #666666;
}


/*---------- トップに戻る 共通 ----------*/

.menu_back p.back {
  margin: 6px 0 0 0;
  padding: 0 5px 0 0;
  text-align: right;
}

.scroll {
  width: 180px;
  height: 28px;
}
